/*-------------------------------------------------------*/
/*
 * Kakao
 */
@font-face {
    font-family: 'NanumGothicCoding';
    font-style: normal;
    font-weight: 400;
    src: local('Nanum Regular'), 
    url(NanumGothicCoding.eot) format('eot'),
    url(NanumGothicCoding.woff) format('woff'),
    url(NanumGothicCoding.otf) format('opentype');
}

@font-face {
    font-family: 'NanumGothicCoding';
    font-style: normal;
    font-weight: 700;
    src: local('Nanum Bold'), 
    url(NanumGothicCoding-Bold.eot) format('eot'),
    url(NanumGothicCoding-Bold.woff) format('woff'),
    url(NanumGothicCoding-Bold.otf) format('opentype');
}

/*-------------------------------------------------------*/
