<div id="footer" class="container-fluid">
    <ul id="links">
        {% if site.github_url %}
        <li>
            <a id="link-github" href="http://github.com//emily7485" target="_blank">
                <span class="sr-only">github</span>
            </a>
        </li>
        {% endif %}
        {% if site.codepen %}
        <li>
            <a id="link-codepen" href="https://codepen.io/emily7485/" target="_blank">
                <span class="sr-only">codepen</span>
            </a>
        </li>
        {% endif %}
        {% if site.naverblog %}
        <li>
            <a id="link-naverblog" href="http:///blog.naver.com/emily7485" target="_blank">
                <span class="sr-only">naverblog</span>
            </a>
        </li>
        {% endif %}
        <li>
            <a id="link-linkedin" href="https://www.linkedin.com/in/eun-young-choi-986103134/" target="_blank">
                <span class="sr-only">linkedin</span>
            </a>
        </li>
    </ul>
    <ul id="footer-menu">
        <li><a href="https://blog.naver.com/emily7485">Blog</a></li>
    </ul>
    <p id="copyright">
        <a href="https://emily7485.github.io">Copyright &#169; Eunyoung Choi.</a>
        All rights reserved.
    </p>
</div><!--#footer-->
